/* GLOBAL AND REUSABLE STYLES */
@import "leaflet/dist/leaflet.css";

main {
  padding: 40px 30px;
}

main.no-padding {
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #f5f5f5;
}

h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
}


img[right-content] {
  max-width: 100%;
  height: auto;
  display: block;
}

.field {
  display: flex;
  flex-direction: column;
}

.field-error {
  margin-top: -0.5rem;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #c62828;
}

.error-message {
  color: #c62828;
  margin-top: 0.5rem;
}

.mat-mdc-snack-bar-container.success-snackbar .mdc-snackbar__surface {
  background-color: #43a047 !important;
}

.mat-mdc-snack-bar-container.success-snackbar .mdc-snackbar__label {
  color: white !important;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .75rem;
}

.transport-chip {
  text-transform: uppercase;
  font-size: 12px;
}

.transport-chip .mat-icon {
  color: antiquewhite;
}

.transport-chip.bike {
  background: #61b663;
}

.transport-chip.walk {
  background: #9868d3;
}

.transport-chip.hike {
  background: #9e847a;
}

.transport-chip.car {
  background: #d8625e;
}

.transport-chip.wheelchair {
  background: #609ddd;
}


/* MOBILE */

@media (max-width: 768px) {
  main {
    padding: 20px 20px;
  }
}
