/* GLOBAL AND REUSABLE STYLES */

main {
  padding: 40px 30px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #f5f5f5;
}


/* MOBILE */

@media (max-width: 768px) {
  main {
    padding: 20px 20px;
  }
}
